*
{
    margin: 0; padding: 0;
}


    
    
    

.container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
}
.container  div{

    display: flex;
    flex-direction: column;
    justify-content: end;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.bg1{
    background: url(https://pbs.twimg.com/media/En1VZlmUUAIMxVw.jpg:large);
    display: grid;
    grid-row: span 2;
    width: 700px;
    height: 810px;
    
}
.bg2{
    background: url(https://images.news18.com/ibnlive/uploads/2024/07/hardik-pandya-t20-world-cup-bcci-2024-07-ca28d73254abe4ce662a7933d00043c9.jpg?impolicy=website&width=640&height=480);
   width: 500px;
   height: 400px;
    
    
}
.bg3{
    background: url(https://c.ndtvimg.com/2022-11/v9mnone_hardik-pandya-afp_625x300_10_November_22.jpg?im=FeatureCrop,algorithm=dnn,width=806,height=605);
    width: 500px;
    height: 400px;
}
.bg4{
    background: url(https://www.hindustantimes.com/ht-img/img/2024/03/28/1600x900/Hardik_Pandya_IPL_2024_1711609327765_1711609327943.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 400px;
    
}
.bg5{
    background: url(https://c.ndtvimg.com/2024-03/04irocro_hardik-pandya-bcci_625x300_25_March_24.jpg?im=FeatureCrop,algorithm=dnn,width=806,height=605);
    width: 500px;
 height: 400px;
}
.news
{
    background-color: rgb(113, 113, 113);
}
.news h1{

    margin-left: 600px;
}
div h1 {
    color: white;
}
div p{
    color: white;
}
.container div:hover{

    opacity: 0.8;
    transform: scale();
    cursor: pointer;
}
body{
    background-color: rgb(113, 113, 113);
}